body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:578px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:578px;
}
#u1 {
  position:absolute;
  left:2px;
  top:281px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:159px;
  top:128px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u4 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u6 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:432px;
  top:128px;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u9 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u11 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:705px;
  top:128px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u14 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u16 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:157px;
  top:343px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u19 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u21 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:431px;
  top:343px;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u24 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u22_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u26 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:705px;
  top:343px;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u29 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u27_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:191px;
}
#u31 {
  position:absolute;
  left:2px;
  top:88px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
